body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.queue-container {
    text-align: center;
    margin-top: 50px;
}

.queue {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    overflow-x: auto;
    background-color: #fff;
}

.queue-item {
    background-color: #3498db;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin: 0 5px;
}

.queue-controls button {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.queue-controls button:hover {
    background-color: #2980b9;
}
